/* STYLING BEGINS */
/* STYLING BEGINS */
#rankingCards-section {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    min-height: 80vh;
    gap: clamp(2rem, 5vw, 5rem);
    padding-inline: clamp(1rem, 5vw, 5rem);
    box-sizing: border-box;
    
}

.rankCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: clamp(13rem, 18vw, 17rem);
    flex-shrink: 0;
}

.rankingcard-visual {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: clamp(15rem, 25vw, 20rem);
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-top: none;
    border-radius: 0 0 0.6rem 0.6rem;
    
    
}

.rankImage {
    position: absolute;
    top: 1.5rem;
    width: clamp(4.5rem, 7vw, 6.5rem);
    height: auto;
    z-index: 2;
}
.playerImage {
    position: absolute;
    bottom: 0.5rem;
    width: clamp(8rem, 12vw, 12rem);
    height: auto;
    z-index: 1;
}


/* FIRST PLACE CARD */
#first-place {
    position: relative;
    z-index: 2;
    transform: translateY(5rem);
}

#first-place .rankingcard-visual {
    height: 23rem;
    background: linear-gradient(
        to bottom,
        #201616,
        #FDC205
    );
    box-shadow: 0 0.75rem 1rem rgba(0, 0, 0, 0.35);
}

#first-place .rankImage {
    top: 2rem;
}

#first-place .playerImage {
    width: 10rem;
}


/* SECOND PLACE */
#second-place {
    transform: translateY(5rem);
}

#second-place .rankingcard-visual {
    height: 22rem;
    background: linear-gradient(
        to bottom,
        #05152F,
        #4286F5
    );
}


/* THIRD PLACE */
#third-place {
    transform: translateY(5rem);
}

#third-place .rankingcard-visual {
    height: 21rem;
    background: linear-gradient(
        to bottom,
        #201616,
        #F34235
    );
}


/* TEXT */
.rankCards h3 {
    margin-top: 0.75rem;
    margin-bottom: 0;
    color: white;
    font-size: 0.9rem;
}

.rankCards p {
    margin-top: 0.25rem;
    margin-bottom: 0;
    font-size: 1.5rem;
}


/* POINT COLORS */
#first-place p {
    color: #c18a16;
}

#second-place p {
    color: #1264c9;
}

#third-place p {
    color: #a62d1c;
}


/* HEADING */
#heading-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.3rem;
}

#heading-wrapper h3 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--heading-fonts-color);
}

#heading-wrapper p {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--pTags-font-color);
}

/* CTAS */
#heading-CTAs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.heading-login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    text-decoration: none;
    color: var(--BTN-writeUp);
    background-color: var(--BTNs-bg-color2);
    width: 7rem;
    padding: 0.8em;
    border-radius: 5px;
    border: 1px solid var(--BTNs-bg-and-borders-orange);
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.heading-login:hover {
    border: 1px solid transparent;
    border-bottom: 1px solid #FFB54D;
}

.heading-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--BTN-writeUp);
    background-color: var(--BTNs-bg-and-borders-orange);
    width: 7rem;
    padding: 0.8em;
    border-radius: 5px;
    border: 1px solid transparent;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.heading-signup:hover {
    background-color: #ffb54d9d;
    border-bottom: 1px solid #FFB54D;
}

/* RANKING BOARD SECTION */
/* ..................... */

#rankBoard-section {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: .5rem;
    margin-top: 80px;
    max-height: 40rem;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #201616 #ADACAC;

}
#rankBoard-section::-webkit-scrollbar {
    width: .8rem;
}
#rankBoard-section::-webkit-scrollbar-track {
    background: #ADACAC;
}
#rankBoard-section::-webkit-scrollbar-thumb {
    background: #201616;
    border-radius: 1rem;
}


.rank-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #332F2F;
    border: 1px solid #ADACAC;
    border-radius: 12px;
    /* gap: 2rem; */
    width: clamp(30rem, 80vw, 80rem);
    padding: .5rem;
    

}

#playerIcon-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: .8rem;
    margin-left: 5%;
}

.starIcon {
    color: #FFB54D;
}

.rankPlayer-name {
    color: var(--heading-fonts-color);
}


/* POINTS BAR */
.rankPoints {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-right: 10%;
}

.pointsText {
    color: var(--heading-fonts-color);
}

.progressBar {
    width: 7rem;
    height: .8rem;
    background: #ADACAC;
    border-radius: 1rem;
    overflow: hidden;
}

.progressBar-fill {
    height: 100%;
    background: #FFB54D;
    border-radius: 1rem;
}