/* Login Style */
.loginPage {
    background-image: url('../assets/login/login-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 100vh;
    padding-left: 125px;
}

.loginForm {
    background-color: #553C1ACC;
    border-radius: 12px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 44px;
    align-items: center;
}

.loginTextCont {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.loginText {
    font-weight: 600;
    font-size: 32px;
    color: white;
}

.loginLine {
    border-radius: 1px;
    background-color: #45B400;
    width: 100%;
}

.loginInputCont {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 393px;
}

.loginInput {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.loginButtonwithText {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.primaryButton {
    border-radius: 12px;
    background-color: #FFB54D;
    padding: 8px 16px;
    color: #070404;
    font-weight: 400;
    font-size: 16px;
}

.secondaryButton {
    border-radius: 12px;
    background-color: #553C1ACC;
    padding: 8px 16px;
    color: #070404;
    border: 1px solid #FFC16B;
    font-weight: 400;
    font-size: 16px;
}

.textWithUnderline {
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: underline;
}

.otherButtonCont {
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
}

.othersButtonText {
    font-weight: 500;
    font-size: 24px;
    color: white;
}

.othersButton {
    font-weight: 500;
    font-size: 24px;
    color: #FFB54D;
}


/* SignUp Style */
.labelInputCont {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.labelText {
    font-weight: 600;
    font-size: 20px;
    color: #F9F9F9;
}

.labelInput {
    padding: 4px 12px;
    background-color: #332F2F;
    border: 1px solid #ADACAC;
    border-radius: 4px;
    color: #ADACAC;
    font-weight: 400;
    font-size: 18px;
}

/* Enter Email */
.acceptCheckbox {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: flex-start;
}

.acceptCheckbox img {
    width: 20px;
    height: 20px;
}

.checkboxText {
    font-weight: 400;
    font-size: 14px;
    color: white;
}

/* Set Password */
.labelErrorContain {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.labelErrorText {
    font-weight: 400;
    font-size: 16px;
    color: #F9F9F9;
}

/* Account Success */

.activationAccountCont {
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center;
}

.activationTitle {
    font-weight: 500;
    font-size: 24px;
    color: white;
    align-self: center;
}

.activationCont {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.activationNameCont {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.activationUser {
    font-weight: 400;
    font-size: 18px;
    color: white;
}

.activationText {
    font-weight: 500;
    font-size: 20px;
    color: white;
}

.accountButtonCont {
    display: flex;
    flex-direction: column;
    gap: 24px;
}