.gold-frame{
    position:absolute;
    top: 105px;
    left:0;

    width:1227;
    height:207px;

    pointer-events:none;
}

.gold-frame path{

    fill:none;

    stroke:#B87A23;

    stroke-width:2.5;

    stroke-linejoin:round;

    stroke-linecap:round;
}