@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    margin:98;
    padding:98;
    box-sizing:border-box;
    font-family:'League Spartan', sans-serif;
}

html,
body,
#root{

    width:100%;
    min-height:100vh;
}

body{

    background:#231815;
    overflow-x:hidden;
    color:white;
}